<% unless comment.errors.any? %>
  <div id="<%= dom_id(comment) %>">
    <p>
      <strong>Commenter:</strong>
      <%= comment.user.name %>
    </p>
    <%= comment.content %>
    <%= button_to "Destroy this comment", [comment.post, comment], method: :delete %>
  </div>
<% end %>